.Card {
    display: inline-block;
    width: 150px;
    height: 250px;
    margin: 10px;
    background: #AF8260;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #795a42;
    
}

.Card .box {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 2vh;
    background: #803D3B;
    cursor: pointer;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: 0.3s ease;
}

.Card .box:hover {
    transform: scale(1.5);
    background-color: transparent;
}

.Card .contents {
    padding-top: 10px;
    overflow-wrap: break-word;
    color: #cfc7c6;
}